In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
from pyspark.sql.functions import sum, avg

In [2]:
spark = SparkSession  \
        .builder  \
        .appName('DF1')  \
        .getOrCreate()

In [3]:
data_emps = [("Sales", "Barb", 40), ("Sales", "Dan", 20),
("IT", "Alex", 22), ("IT", "Jane", 24),
("HR", "Alex", 20), ("HR", "Mary", 30)]

cols = ["dept", "name", "hours"]

df = spark.createDataFrame(data_emps, cols)
df.show()

+-----+----+-----+
| dept|name|hours|
+-----+----+-----+
|Sales|Barb|   40|
|Sales| Dan|   20|
|   IT|Alex|   22|
|   IT|Jane|   24|
|   HR|Alex|   20|
|   HR|Mary|   30|
+-----+----+-----+

In [4]:
averages = df.groupBy("dept")  \
            .agg(avg("hours").alias('average'),  \
            sum("hours").alias("total"))

averages.show()

+-----+-------+-----+
| dept|average|total|
+-----+-------+-----+
|Sales|   30.0|   60|
|   HR|   25.0|   50|
|   IT|   23.0|   46|
+-----+-------+-----+

In [6]:
# pg 26