In [1]:
# Video URL : https://www.youtube.com/watch?v=GDMkkmkJigw

In [2]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
start = '2010-01-01'
end = '2021-01-01'
Apple = yf.download('AAPL', start, end)

[*********************100%***********************]  1 of 1 completed

In [4]:
Apple

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.496293,493729600
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.507526,601904800
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.404016,552160000
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.392176,477131200
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.434674,447610800
...,...,...,...,...,...,...
2020-12-24,131.320007,133.460007,131.100006,131.970001,130.025940,54930100
2020-12-28,133.990005,137.339996,133.509995,136.690002,134.676376,124486200
2020-12-29,138.050003,138.789993,134.339996,134.869995,132.883194,121047300
2020-12-30,135.580002,135.990005,133.399994,133.720001,131.750107,96452100
2020-12-31,134.080002,134.740005,131.720001,132.690002,130.735352,99116600

In [7]:
ticker = ["SPY", "AAPL", "KO"]

In [8]:
stocks = yf.download(ticker, start, end)

[*********************100%***********************]  3 of 3 completed

In [9]:
stocks

             Adj Close                              Close             \
                  AAPL         KO         SPY        AAPL         KO
Date
2010-01-04    6.496294  18.936361   88.117905    7.643214  28.520000
2010-01-05    6.507527  18.707296   88.351135    7.656429  28.174999
2010-01-06    6.404015  18.700651   88.413338    7.534643  28.165001
2010-01-07    6.392175  18.654171   88.786568    7.520714  28.094999
2010-01-08    6.434673  18.308918   89.082054    7.570714  27.575001
...                ...        ...         ...         ...        ...
2020-12-24  130.025940  49.935028  356.970306  131.970001  53.439999
2020-12-28  134.676376  50.607800  360.036957  136.690002  54.160000
2020-12-29  132.883194  50.579769  359.350128  134.869995  54.130001
2020-12-30  131.750153  50.869438  359.862732  133.720001  54.439999
2020-12-31  130.735321  51.243210  361.691162  132.690002  54.840000

                              High                                Low  \
                   SPY        AAPL         KO         SPY        AAPL
Date
2010-01-04  113.330002    7.660714  28.610001  113.389999    7.585000
2010-01-05  113.629997    7.699643  28.495001  113.680000    7.616071
2010-01-06  113.709999    7.686786  28.219999  113.989998    7.526786
2010-01-07  114.190002    7.571429  28.184999  114.330002    7.466071
2010-01-08  114.570000    7.571429  27.820000  114.620003    7.466429
...                ...         ...        ...         ...         ...
2020-12-24  369.000000  133.460007  53.549999  369.029999  131.100006
2020-12-28  372.170013  137.339996  54.439999  372.589996  133.509995
2020-12-29  371.459991  138.789993  54.490002  374.000000  134.339996
2020-12-30  371.989990  135.990005  54.630001  373.100006  133.399994
2020-12-31  373.880005  134.740005  54.930000  374.660004  131.720001

                                         Open                         \
                   KO         SPY        AAPL         KO         SPY
Date
2010-01-04  28.450001  111.510002    7.622500  28.580000  112.370003
2010-01-05  28.070000  112.849998    7.664286  28.424999  113.260002
2010-01-06  27.990000  113.430000    7.656429  28.174999  113.519997
2010-01-07  27.875000  113.180000    7.562500  28.165001  113.500000
2010-01-08  27.375000  113.660004    7.510714  27.730000  113.889999
...               ...         ...         ...        ...         ...
2020-12-24  53.020000  367.450012  131.320007  53.020000  368.079987
2020-12-28  53.730000  371.070007  133.990005  53.849998  371.739990
2020-12-29  54.020000  370.829987  138.050003  54.450001  373.809998
2020-12-30  54.029999  371.570007  135.580002  54.049999  372.339996
2020-12-31  54.270000  371.230011  134.080002  54.450001  371.779999

               Volume
                 AAPL        KO        SPY
Date
2010-01-04  493729600  13870400  118944600
2010-01-05  601904800  23172400  111579900
2010-01-06  552160000  19264600  116074400
2010-01-07  477131200  13234600  131091100
2010-01-08  447610800  28712400  126402800
...               ...       ...        ...
2020-12-24   54930100   3265500   26457900
2020-12-28  124486200   9020500   39000400
2020-12-29  121047300   8320600   53680500
2020-12-30   96452100   8142700   49455300
2020-12-31   99116600   8495000   78520700

[2769 rows x 18 columns]

In [10]:
stocks.head()

           Adj Close                           Close                         \
                AAPL         KO        SPY      AAPL         KO         SPY
Date
2010-01-04  6.496294  18.936361  88.117905  7.643214  28.520000  113.330002
2010-01-05  6.507527  18.707296  88.351135  7.656429  28.174999  113.629997
2010-01-06  6.404015  18.700651  88.413338  7.534643  28.165001  113.709999
2010-01-07  6.392175  18.654171  88.786568  7.520714  28.094999  114.190002
2010-01-08  6.434673  18.308918  89.082054  7.570714  27.575001  114.570000

                High                              Low                         \
                AAPL         KO         SPY      AAPL         KO         SPY
Date
2010-01-04  7.660714  28.610001  113.389999  7.585000  28.450001  111.510002
2010-01-05  7.699643  28.495001  113.680000  7.616071  28.070000  112.849998
2010-01-06  7.686786  28.219999  113.989998  7.526786  27.990000  113.430000
2010-01-07  7.571429  28.184999  114.330002  7.466071  27.875000  113.180000
2010-01-08  7.571429  27.820000  114.620003  7.466429  27.375000  113.660004

                Open                            Volume
                AAPL         KO         SPY       AAPL        KO        SPY
Date
2010-01-04  7.622500  28.580000  112.370003  493729600  13870400  118944600
2010-01-05  7.664286  28.424999  113.260002  601904800  23172400  111579900
2010-01-06  7.656429  28.174999  113.519997  552160000  19264600  116074400
2010-01-07  7.562500  28.165001  113.500000  477131200  13234600  131091100
2010-01-08  7.510714  27.730000  113.889999  447610800  28712400  126402800

In [11]:
stocks.tail()

             Adj Close                              Close             \
                  AAPL         KO         SPY        AAPL         KO
Date
2020-12-24  130.025940  49.935028  356.970306  131.970001  53.439999
2020-12-28  134.676376  50.607800  360.036957  136.690002  54.160000
2020-12-29  132.883194  50.579769  359.350128  134.869995  54.130001
2020-12-30  131.750153  50.869438  359.862732  133.720001  54.439999
2020-12-31  130.735321  51.243210  361.691162  132.690002  54.840000

                              High                                Low  \
                   SPY        AAPL         KO         SPY        AAPL
Date
2020-12-24  369.000000  133.460007  53.549999  369.029999  131.100006
2020-12-28  372.170013  137.339996  54.439999  372.589996  133.509995
2020-12-29  371.459991  138.789993  54.490002  374.000000  134.339996
2020-12-30  371.989990  135.990005  54.630001  373.100006  133.399994
2020-12-31  373.880005  134.740005  54.930000  374.660004  131.720001

                                         Open                         \
                   KO         SPY        AAPL         KO         SPY
Date
2020-12-24  53.020000  367.450012  131.320007  53.020000  368.079987
2020-12-28  53.730000  371.070007  133.990005  53.849998  371.739990
2020-12-29  54.020000  370.829987  138.050003  54.450001  373.809998
2020-12-30  54.029999  371.570007  135.580002  54.049999  372.339996
2020-12-31  54.270000  371.230011  134.080002  54.450001  371.779999

               Volume
                 AAPL       KO       SPY
Date
2020-12-24   54930100  3265500  26457900
2020-12-28  124486200  9020500  39000400
2020-12-29  121047300  8320600  53680500
2020-12-30   96452100  8142700  49455300
2020-12-31   99116600  8495000  78520700

In [12]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2769 entries, 2010-01-04 to 2020-12-31
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  2769 non-null   float64
 1   (Adj Close, KO)    2769 non-null   float64
 2   (Adj Close, SPY)   2769 non-null   float64
 3   (Close, AAPL)      2769 non-null   float64
 4   (Close, KO)        2769 non-null   float64
 5   (Close, SPY)       2769 non-null   float64
 6   (High, AAPL)       2769 non-null   float64
 7   (High, KO)         2769 non-null   float64
 8   (High, SPY)        2769 non-null   float64
 9   (Low, AAPL)        2769 non-null   float64
 10  (Low, KO)          2769 non-null   float64
 11  (Low, SPY)         2769 non-null   float64
 12  (Open, AAPL)       2769 non-null   float64
 13  (Open, KO)         2769 non-null   float64
 14  (Open, SPY)        2769 non-null   float64
 15  (Volume, AAPL)     2769 non-null   int64
 16  (Volume, KO)       2769 non-null   int64
 17  (Volume, SPY)      2769 non-null   int64
dtypes: float64(15), int64(3)
memory usage: 411.0 KB

In [13]:
stocks.to_csv("stocks_data.csv")