In [1]:
people = {
    "first": ['Corey', 'Jane', 'John'],
    "last": ['Schafer', 'Doe', 'Doe'],
    "email": ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [5]:
df['last'] == 'Doe'

0    False
1     True
2     True
Name: last, dtype: bool

In [6]:
filt = (df['last'] == 'Doe')

In [8]:
# Method 1 to use the above filter:
df[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [9]:
# Method 2 to apply the filter
df[df['last'] == 'Doe']

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [10]:
# Method 3
df.loc[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [11]:
# .loc is used lookup rows and columns by labels, but if we pass
# a Series of booleans (as we did here), we can also filter the data out

# We can further filter out a column out of the above while using .loc

df.loc[filt].email

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [14]:
# Diff syntax to filter a col using .loc
df.loc[filt, 'email']

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [15]:
# New filter
new_filt = (df['last'] == 'Doe') & (df['first'] == 'John')

In [17]:
df.loc[new_filt, 'email']

2    JohnDoe@email.com
Name: email, dtype: object

In [18]:
# Another new filter
another_new_filt = (df['last'] == 'Schafer') | (df['first'] == 'John')

In [19]:
df.loc[another_new_filt, 'email']

0    CoreyMSchafer@gmail.com
2          JohnDoe@email.com
Name: email, dtype: object

In [20]:
# Opposite of a filter

df.loc[~another_new_filt, 'email']

1    JaneDoe@email.com
Name: email, dtype: object